In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\DataScience\Datascience Assignment\09 Data Trasformation\adult_with_headers (1).csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
# Handing Missing Values

In [6]:
df = df.replace("?",np.nan)

In [7]:
# Check Missing Values

In [8]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [9]:
df.dropna(inplace = True)

In [10]:
num_cols = df.select_dtypes(include = ["int64","float64"]).columns
cat_cols = df.select_dtypes(include = ["object"]).columns

In [11]:
num_cols , cat_cols

(Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
        'hours_per_week'],
       dtype='object'),
 Index(['workclass', 'education', 'marital_status', 'occupation',
        'relationship', 'race', 'sex', 'native_country', 'income'],
       dtype='object'))

In [12]:
# Scaling Numerical Features
# A)  Standard Scaling

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
std_scaler = StandardScaler()
df[num_cols] = std_scaler.fit_transform(df[num_cols])

In [15]:
# b) Min-max Scaling
from sklearn.preprocessing import MinMaxScaler

In [16]:
mm_scaler = MinMaxScaler()
df[num_cols] = mm_scaler.fit_transform(df[num_cols])

In [17]:
# Encoding Categorical Variables 
# a) One-Hot Encoding

In [18]:
low_cardinality_cols = [col for col in cat_cols if df[col].nunique() < 5]
df = pd.get_dummies(df, columns=low_cardinality_cols,drop_first=True)

In [19]:
# Label Encoding

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
high_cardinality_cols = [col for col in cat_cols if col not in low_cardinality_cols]

In [22]:
le = LabelEncoder()
for col in high_cardinality_cols:
    df[col]= le.fit_transform(df[col])

In [23]:
# Feature Engineering

In [24]:

df["capital_diff"] = df["capital_gain"] - df["capital_loss"]

In [25]:
# Create New Feature 2 : Working Age Group

In [32]:
df["age_group"] = pd.cut(
    df["age"],
    bins=[0,25,45,65,100],
    labels = ["Young","Adult","Senior","Old"])
print(df)

            age  workclass    fnlwgt  education  education_num  \
0      0.301370          7  0.044302          9       0.800000
1      0.452055          6  0.048238          9       0.800000
2      0.287671          4  0.138113         11       0.533333
3      0.493151          4  0.151068          1       0.400000
4      0.150685          4  0.221488          9       0.800000
...         ...        ...       ...        ...            ...
32556  0.136986          4  0.166404          7       0.733333
32557  0.315068          4  0.096500         11       0.533333
32558  0.561644          4  0.094827         11       0.533333
32559  0.068493          4  0.128499         11       0.533333
32560  0.479452          5  0.187203         11       0.533333

       marital_status  occupation  relationship  race  capital_gain  ...  \
0                   4           1             1     4      0.021740  ...
1                   2           4             0     4      0.000000  ...
2                   0           6             1     4      0.000000  ...
3                   2           6             0     2      0.000000  ...
4                   2          10             5     2      0.000000  ...
...               ...         ...           ...   ...           ...  ...
32556               2          13             5     4      0.000000  ...
32557               2           7             0     4      0.000000  ...
32558               6           1             4     4      0.000000  ...
32559               4           1             3     4      0.000000  ...
32560               2           4             5     4      0.150242  ...

       hours_per_week  native_country  sex_ Male  income_ >50K  capital_diff  \
0            0.397959              39       True         False      0.021740
1            0.122449              39       True         False      0.000000
2            0.397959              39       True         False      0.000000
3            0.397959              39       True         False      0.000000
4            0.397959               5      False         False      0.000000
...               ...             ...        ...           ...           ...
32556        0.377551              39      False         False      0.000000
32557        0.397959              39       True          True      0.000000
32558        0.397959              39      False         False      0.000000
32559        0.193878              39       True         False      0.000000
32560        0.397959              39      False          True      0.150242

       age_group_Adult  age_group_Senior  age_group_Old  capital_gain_log  \
0                False             False          False          0.021507
1                False             False          False          0.000000
2                False             False          False          0.000000
3                False             False          False          0.000000
4                False             False          False          0.000000
...                ...               ...            ...               ...
32556            False             False          False          0.000000
32557            False             False          False          0.000000
32558            False             False          False          0.000000
32559            False             False          False          0.000000
32560            False             False          False          0.139972

       age_group
0          Young
1          Young
2          Young
3          Young
4          Young
...          ...
32556      Young
32557      Young
32558      Young
32559      Young
32560      Young

[32561 rows x 21 columns]

In [27]:
df = pd.get_dummies(df, columns=["age_group"], drop_first=True)

In [28]:
# Log Transformation

In [31]:

df["capital_gain_log"] = np.log1p(df["capital_gain"])
print(df)

            age  workclass    fnlwgt  education  education_num  \
0      0.301370          7  0.044302          9       0.800000
1      0.452055          6  0.048238          9       0.800000
2      0.287671          4  0.138113         11       0.533333
3      0.493151          4  0.151068          1       0.400000
4      0.150685          4  0.221488          9       0.800000
...         ...        ...       ...        ...            ...
32556  0.136986          4  0.166404          7       0.733333
32557  0.315068          4  0.096500         11       0.533333
32558  0.561644          4  0.094827         11       0.533333
32559  0.068493          4  0.128499         11       0.533333
32560  0.479452          5  0.187203         11       0.533333

       marital_status  occupation  relationship  race  capital_gain  \
0                   4           1             1     4      0.021740
1                   2           4             0     4      0.000000
2                   0           6             1     4      0.000000
3                   2           6             0     2      0.000000
4                   2          10             5     2      0.000000
...               ...         ...           ...   ...           ...
32556               2          13             5     4      0.000000
32557               2           7             0     4      0.000000
32558               6           1             4     4      0.000000
32559               4           1             3     4      0.000000
32560               2           4             5     4      0.150242

       capital_loss  hours_per_week  native_country  sex_ Male  income_ >50K  \
0               0.0        0.397959              39       True         False
1               0.0        0.122449              39       True         False
2               0.0        0.397959              39       True         False
3               0.0        0.397959              39       True         False
4               0.0        0.397959               5      False         False
...             ...             ...             ...        ...           ...
32556           0.0        0.377551              39      False         False
32557           0.0        0.397959              39       True          True
32558           0.0        0.397959              39      False         False
32559           0.0        0.193878              39       True         False
32560           0.0        0.397959              39      False          True

       capital_diff  age_group_Adult  age_group_Senior  age_group_Old  \
0          0.021740            False             False          False
1          0.000000            False             False          False
2          0.000000            False             False          False
3          0.000000            False             False          False
4          0.000000            False             False          False
...             ...              ...               ...            ...
32556      0.000000            False             False          False
32557      0.000000            False             False          False
32558      0.000000            False             False          False
32559      0.000000            False             False          False
32560      0.150242            False             False          False

       capital_gain_log
0              0.021507
1              0.000000
2              0.000000
3              0.000000
4              0.000000
...                 ...
32556          0.000000
32557          0.000000
32558          0.000000
32559          0.000000
32560          0.139972

[32561 rows x 20 columns]

In [30]:

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               32561 non-null  float64
 1   workclass         32561 non-null  int64
 2   fnlwgt            32561 non-null  float64
 3   education         32561 non-null  int64
 4   education_num     32561 non-null  float64
 5   marital_status    32561 non-null  int64
 6   occupation        32561 non-null  int64
 7   relationship      32561 non-null  int64
 8   race              32561 non-null  int64
 9   capital_gain      32561 non-null  float64
 10  capital_loss      32561 non-null  float64
 11  hours_per_week    32561 non-null  float64
 12  native_country    32561 non-null  int64
 13  sex_ Male         32561 non-null  bool
 14  income_ >50K      32561 non-null  bool
 15  capital_diff      32561 non-null  float64
 16  age_group_Adult   32561 non-null  bool
 17  age_group_Senior  32561 non-null  bool
 18  age_group_Old     32561 non-null  bool
 19  capital_gain_log  32561 non-null  float64
dtypes: bool(5), float64(8), int64(7)
memory usage: 3.9 MB

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Male,income_ >50K,capital_diff,age_group_Adult,age_group_Senior,age_group_Old,capital_gain_log
0,0.301370,7,0.044302,9,0.800000,4,1,1,4,0.02174,0.0,0.397959,39,True,False,0.02174,False,False,False,0.021507
1,0.452055,6,0.048238,9,0.800000,2,4,0,4,0.00000,0.0,0.122449,39,True,False,0.00000,False,False,False,0.000000
2,0.287671,4,0.138113,11,0.533333,0,6,1,4,0.00000,0.0,0.397959,39,True,False,0.00000,False,False,False,0.000000
3,0.493151,4,0.151068,1,0.400000,2,6,0,2,0.00000,0.0,0.397959,39,True,False,0.00000,False,False,False,0.000000
4,0.150685,4,0.221488,9,0.800000,2,10,5,2,0.00000,0.0,0.397959,5,False,False,0.00000,False,False,False,0.000000